<footer class="footer py-2 mt-auto text-white">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <span class="text-muted">
                    <h5>&copy;Miz Cha</h5>
                </span>
            </div>
            <div class="col-4">
                <span>
                    <h5>All Rights Reserved</h5>
                </span>
            </div>
            <div class="col-4">
                <span>
                    <h5>Made in October 2021 </h5>
                </span>
            </div>
        </div>
    </div>
</footer>