<% layout('layouts/createLayout') %>
    <div class="box">
        <h1 class="text-center my-3">New Campground</h1>
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Write A Title.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="title" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Write A Location.
                </div>
            </div>
            <div class="mb-3">
                <input type="file" name="image" id="" multiple>
            </div>
            <div>
                <label class="form-label" for="price">Campground Price</label>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input class="form-control" type="number" id="price" placeholder="0.00" aria-label="Price"
                    aria-describedby="basic-addon1" name="campground[price]" required>
                <div class="invalid-feedback">
                    Should Be A Number
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>
                <div class="invalid-feedback">
                    Please Write A Description.
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Add Campground</button>
                <a href="/campgrounds">CANCEL</a>
            </div>
        </form>
    </div>