.navbar {
    background: linear-gradient(353deg, #fff 0%, #000000 100%);
}

.navbar-brand {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 0.25rem solid transparent;
}

.navbar-brand:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.navbar-nav {
    color: white;
    font-weight: 600;
}

.nav-link {
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.footer {
    background: linear-gradient(53deg, #fff 0%, #000000 100%);
}

.footer span {
    color: #fff;
}